;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/dev"]

 :dependencies
 [[garden "1.3.10"]
  [reagent "1.0.0"]
  [devcards "0.2.7"]
  [zprint "1.1.1"]]
 
 :dev-http {8080 "public"}

 :builds
 {:docs {:target :browser
         :devtools {:after-load lt-ui.docs.core/init!}
         :modules {:main {:init-fn lt-ui.docs.core/init!}}
         :compiler-options {:devcards true}
         :build-options {:ns-aliases {devcards-marked cljsjs.marked
                                      devcards-syntax-highlighter cljsjs.highlight}}}}}
